body {
    text-align: center;
}

div {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}


img {
    filter: blur(0px);
    transition: filter 1s;
}

img[data-src] {
    filter: blur(3px);
} 