body {
    margin: 0 auto;
    max-width: 100%;
    background-color: #FAFFFD;
    width: 100%;
}


img {
    filter: blur(0px);
    transition: filter 2s;
}

img[data-src] {
    filter: blur(3px);
}

header {
    background-color: #d6ebe8ff;
    display: flex;
    justify-content: center;
    padding: 30px;
} 

header picture img {
    width: 100px;
    height: auto;
    
}

header h1 {
    font-family: 'Slabo 27px', serif;
    color: #2d4e62ff;
    font-size: 2em;
    margin-top: 5px;
    
}

header h2 {
    font-family: 'Lato', sans-serif;
    color: #568a7bff;
    font-size: 1.5em;
    margin-top: -20px;

}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


nav {
    background-color: #2dc8b6ff;
    margin-top: -20px;
    text-align: center;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

nav ul {
    list-style: none;
    text-align: center;
    display: block;
    padding-left: 0;

}

nav ul.hide {
    display: none;
}

nav ul li {
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

nav ul li:hover {
    background-color:#2d4e62ff;
    color: white;
}

nav ul .active {
    background-color:rgba(25, 43, 54, 0.253);
    color: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main h3 {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin: 30px;
    color: #2d4e62ff;
    font-size: 35px;
}

h4 {
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    margin: 50px;
    grid-gap: 30px;
}

figure {
    box-shadow: 1px 1px 5px 1px #8888;
    width: 400px;
    overflow: hidden;
    margin: 0;
}

figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}


.contact {
    text-align: left;
    background-color: #d6ebe8ff;
    padding: 70px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}


div .phone {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

div .phone img {
    width: 20px;
    height: auto;
    margin: 20px;
}

div .email {
    display: flex;
    align-items: center;
}

div .email img {
    width: 20px;
    height: auto;
    margin: 20px;
}

div .map {
    margin-top: 30px;
}

div .social {
    display: none;
}

footer {
    background-color: #2dc8b6ff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 30px;
}

